.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.myBtn {
  padding: 3px 5px;
  border: 1px solid #09d3ac;
  background: linear-gradient(#fff, #eee)
}

.myDiv {
  border: 1px solid #282c34;
  padding: 10px;
}